#contact-main {
    width: 60%;
    margin: 0 auto;
}

.contact-content {
    border: 4px solid #dddddd;
    border-radius: 15px;
    padding: 20px 10%;
    font-family: Serif;
    font-size: 28px;
    margin-bottom: 50px;
}

#contact-top {
    margin: 0 auto;
    height: 300px;
    padding-top: 100px;
    font-family: 'Caveat', cursive;
}

#contact-title {
    margin: 0 auto;
    text-align: center;
    height: 200px;
    padding-top: 200px;
    font-family: Serif;
}

#contact-text {
    width: 100%;
}

#contact-text h1 {
    text-align: center;
    font-size: 108px;
}

.contact-content p {
    margin-bottom: 0;
}
.contact-content input {
    border: 4px solid #dddddd;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: #222222;
    font-size: 24px;
    color: #dddddd;
}
.contact-content textarea {
    resize: vertical;
    border: 4px solid #dddddd;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: #222222;
    font-size: 24px;
    color: #dddddd;
}
#contact-submit {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    width: 200px;
    height: 70px;
    border-radius: 15px;
    background-color: rgb(157, 251, 251);
    font-size: 20px;
}