video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  background-size: cover;
  opacity: 0.3;
}

body {
  margin: 0px;
  position: relative;
  min-height: 100vh;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: #222222;
}

header {
  position: fixed;
  z-index: 10;
  height: 70px;
  width: 70%;
  top: 50px;
  left: calc(50% - 35%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #top-button  {
  font-size: 36px;
  width: 150px;
  color: #8e84ff;
  border: solid 3px #8e84ff;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: 30px;
  align-items: center;
  border-left: solid 2px #222222;
}

nav li {
  padding: 0 50px;
  height: 30px;
  display: flex;
  align-items: center;
  border-right: solid 2px #222222;
}

#main {
  width: 70%;
  margin: 0 auto;
  padding-top: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-text {
  width: 40%;
}

#main-text h2 {
  color: #8e84ff;
  font-size: 36px;
}

#main-text h1 {
  font-size: 72px;
  margin: 0;
}

