@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.2;
  z-index: -100;
  background-size: cover;
  background-repeat: no-repeat;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  position: relative;
  color: #dddddd;
  background-color: #222222;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: #dddddd;
}
.content a {
  text-decoration: underline;
  color: #dddddd;
}

button:hover {
  cursor: pointer;
}

header {
  position: fixed;
  z-index: 10;
  height: 70px;
  width: 70%;
  top: 50px;
  left: calc(50% - 35%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Caveat', cursive;
}

header #top-button  {
  font-size: 54px;
  width: 150px;
  color: #8e84ff;
  border: 4px solid #dddddd;
  background-color: #8e84ff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: 30px;
  align-items: center;
  border-left: solid 2px #dddddd;
  font-size: 36px;
}

nav li {
  padding: 0 50px;
  height: 30px;
  display: flex;
  align-items: center;
  border-right: solid 2px #dddddd;
}

#main {
  width: 70%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Caveat', cursive;
}

#main-text {
  width: 60%;
}

#main-text h2 {
  color: #8e84ff;
  font-size: 54px;
}

#main-text h1 {
  font-size: 108px;
  margin: 0;
}

.content {
  padding: 50px 15%;
}

.content-title {
  margin: 0 auto;
}

.content-text {
  margin: 0 auto;
}

#about {
  background-color: #7b6fff40;
}

#works {
  background-color: #6fc8ff40;
}

#tips {
  background-color: #7bff6f40;
}

.content h2 {
  font-size: 81px;
  font-family: 'Caveat', cursive;
  text-align: center;
}